@use '../../layout/layout';
@use '../../utilities/responsive';

.hero {
    @include layout.default;
    background-image: url(assets/images/hero.jpg);
    background-size: cover;
    min-height: 100vh;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 5rem;
        left: -5rem;

        @include responsive.max(1024px) {
            top: 0;
            left: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 50rem;

        .social-media {
            display: flex;
            align-items: center;
            gap: var(--gap-large);
            list-style: none;
            margin: 0;
            padding: 0;
        }

        @include responsive.max(1024px) {
            align-items: center;
            text-align: center;
        }
    }

    &__description {
        margin: 0;
        padding: 0;
        max-width: 32rem;
        font-size: 1.5rem;
        color: var(--color-ocean);

        @include responsive.max(640px) {
            font-size: 20px;
        }
    }

    @include responsive.max(1200px) {
        background-position: bottom right;
    }

    @include responsive.max(640px) {
        background-position: bottom right 5%;
    }
}