@use '../../layout/layout';
@use '../../utilities/responsive';

.skills {
    @include layout.default;
    background-color: var(--color-ocean);
    

    @include responsive.max(640px) {
        padding: 6rem 0 6rem 0;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--section-gap-inner);
    }
    
    &__group {
        display: flex;
        gap: 5.125rem;
        
        @include responsive.max(1024px) {
            flex-direction: column;
            gap: var(--section-gap-inner);
        }
    }

    &__title {
        color: #fff;
        border-bottom: 3px solid var(--color-sandy);
        display: inline-flex;
    }


    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            color: white;
            padding-top: 2rem;
            font-weight: 700;
        }

        p {
            max-width: 20.375rem;
            text-align: center;
            color: var(--color-dull-blue);

            @include responsive.max(1024px) {
                max-width: none;
            }
        }
    }


    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        background-color: var(--color-sandy);
        border-radius: 50%;

        @include responsive.max(1024px) {
            width: 125px;
            height: 125px;
        }
    }
    

}