@use '../utilities/responsive';

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-6);
    line-height: 1;

    @include responsive.max(768px) {
        font-size: var(--font-size-5);
    }
}

h2 {
    font-size: var(--font-size-5);

    @include responsive.max(768px) {
        font-size: var(--font-size-4);
    }
}

h3 {
    font-size: var(--font-size-4);
}

h4 {
    font-size: var(--font-size-3);

    @include responsive.max(768px) {
        font-size: var(--font-size-2);
    }


}

h5 {
    font-size: var(--font-size-2);

    @include responsive.max(768px) {
        font-size: var(--font-size-1);
    }

}

h6 {
    font-size: var(--font-size-1);

    @include responsive.max(768px) {
        font-size: var(--font-size-small);
    }
}

a,
p,
blockquote,
li {
    line-height: var(--line-height);
    font-size: 18px;

    @include responsive.max(640px) {
        font-size: var(--font-size);
    }
}