@use '../layout/layout';
@use '../utilities/responsive';

.about {
    @include layout.default;

    &__inner {
        grid-column: inner;
    }

    &__container {
        display: flex;
        justify-content: center;
        gap: 9.375rem;

        @include responsive.max(1200px) {
            gap: 3rem;
        }
    }

    &__image {

        img {
            max-width: 438px;
            height: auto;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--gap-content);
    }

    &__title {
        border-bottom: 3px solid var(--color-sandy);
        position: relative;
        display: inline-flex;
    }

    &__text {
        max-width: 34.688rem;
        
        p {
            margin: 0;
            padding: 0;
        }
    }

}