@use '../layout/layout';

.about {
    @include layout.default;

    &__inner {
        grid-column: inner;
    }

    &__container {
        display: flex;
        justify-content: center;
        gap: 9.375rem;
    }

    &__image {
        flex: 1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header {
        padding-bottom: 1.5rem;
    }

    &__title {
        border-bottom: 3px solid var(--color-sandy);
        position: relative;
        display: inline-flex;
    }

    &__text {
        max-width: 34.688rem;
        
        p {
            margin: 0;
            padding: 0;
        }
    }

}