@use '../components/buttons';
@use '../utilities/responsive';

.contact {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-ice);
    background-image: url(assets/images/leaf.png);
    background-size: cover;
    padding: 8rem 0 12.688rem 0;

    &__inner {
        grid-column: inner;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10.75rem;

        @include responsive.max(1024px) {
            gap: 5rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-content);
    }

    &__title {
        border-bottom: 3px solid var(--color-sandy);
        position: relative;
        display: inline-flex;
    }

    &__text {
        max-width: 25.625rem;

        p {
            margin: 0;
            padding: 0;
        }
    }

    .button {
        @include buttons.default;
        transition: .3s ease;
    
        svg {
            height: 17px;
            width: 17px;
            fill: #fff;
        }

        &:hover {
            background-color: var(--color-accent-hover);
        }
    }

    &__image {

        img {
            height: 375px;
            width: 316px;
            max-width: fit-content;
        }
        @include responsive.max(1024px) {
            //height: 12rem;
            //width: 12rem;
        }
    }
    
    @include responsive.max(1200px) {
        background-position: bottom right;
    }
}