@use '../utilities/responsive';

.site-footer {
    position: relative;
    display: grid;
    grid-template-columns: var(--grid-container);
    padding-top: 7.5rem;

    &__inner {
        grid-column: inner;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo {
            position: absolute;
            top: -75px;

            @include responsive.max(768px) {
                width: 125px;
                top: -62.5px;
            }
        }
    }

    &__top {
        display: flex;
        justify-content: center;
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 8rem;

        .social, .social-media  {
            display: flex;
            gap: var(--gap-content);
            list-style: none;
            margin: 0;
            padding: 0;

            &__title {
                margin: 0;
                padding: 0 0 0.75rem 0;

                @include responsive.max(768px) {
                    text-align: center;
                }
            }

            &__text, .social__item {
                position: relative;
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    color: var(--color-ocean);    
                }
            
                &:not(:last-child)::after,
                .social__item:not(:last-child)::after {
                    content: "";
                    background-color: var(--color-dull-blue);
                    position: absolute;
                    top: -2px;
                    height: 2rem;
                    width: 3px;
                    right: -1rem;

                    @include responsive.max(768px) {
                        display: none;
                    }
                }

            }
            
        }

        .social {
            @include responsive.max(768px) {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }
        }


        @include responsive.max(768px) {
            flex-direction: column;
            align-items: center;
            gap: var(--section-gap-inner);
        }

    }

    &__bottom {
        display: flex;
        justify-content: center;

        .footer__copyright {
            color: var(--color-dull-blue);
            padding: 6.25rem 0 3.25rem 0;

            @include responsive.max(768px) {
                padding: 4rem 0 3.25rem 0;
            }
        }

    }
}