@use 'layout';
@use '../utilities/responsive';
@use '../components/buttons';

.site-header {
    @include layout.default;
    padding: 0;
    height: 6rem;
    display: grid;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: .3s;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 80px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &--scroll {
        /* går även lägga till height: 80px pch 100px på header! */
        background-color: white;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    }
}

.button {
    @include buttons.default;
    transition: .3s ease;

    svg {
        height: 17px;
        width: 17px;
        fill: #fff;
    }

    &:hover {
        background-color: var(--color-accent-hover);
    }
    
}

.site-header__button {

    @include responsive.max(1024px) {
        display: none;
    }
}

.top-button {
    position: fixed;
    bottom: 4.25rem;
    right: 7.25rem;
    transition: .2s;

    svg {
        background-color: var(--color-ice);
        border: 1px solid var(--color-ice);
        border-radius: 100%;
    }

    @include responsive.max(1024px) {
        right: 2rem;
    }

    &--up {
        
        transform: rotate(180deg);
    }
}

.menu-button {
    display: none;
    border: none;
    background: none;
    cursor: pointer;

    @include responsive.max(1024px) {
        display: inline-block;
    }
}

.hamburger {
    background-color: var(--color-ocean);
    height: 3px;
    width: 2rem;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--color-ocean);
        left: 0;
        top: -8px;
        transition: top 0.2s 0.2s, transform 0.2s;
    }

    &::after {
        top: 8px;
    }
}

.menu-button.close .hamburger::before,
.menu-button.close .hamburger::after {
    top: 0;
}

.menu-button.close .hamburger::before {
    transform: rotate(45deg);
    transition: top 0.2s, transform 0.2s 0.2s;
}

.menu-button.close .hamburger::after {
    transform: rotate(-45deg);
    transition: top 0.2s, transform 0.2s 0.2s;
}

.menu-button.close .hamburger {
    background-color: transparent;
    transition: background-color 0s 0.2s;
}


/* FULL MENU */
.full-menu {
    position: fixed;
    //background-color: rgba(104 60 17 / 15%);
    //backdrop-filter: blur(30px);
    background-color: var(--color-light);
    top: 0;
    //bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 8rem 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);

    .menu {
        
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }

        &__item {
            text-transform: uppercase;
            transition: .2s;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: var(--color-ocean);
                transform: scale(0);
                transition: 0.3s ease;
            }
    
            &:hover::before {
                transform: scale(1);
                height: 2.5px;
            }
        }

        &__link {
            text-decoration: none;
            color: #000;
            font-size: var(--font-size-2);
            color: var(--color-dark);
            transition: color 0.3s ease;
        }

        @include responsive.max(1024px) {
            display: block;
        }

    }
}

.full-menu.open {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}


