@use 'layout';
@use '../utilities/responsive';
@use '../components/buttons';

.site-header {
    @include layout.default;
    padding: 0;
    height: 8rem;
    display: grid;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: .3s;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &--scroll {
        /* går även lägga till height: 80px pch 100px på header! */
        background-color: white;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    }
}

.button {
    @include buttons.default;
    transition: .3s ease;

    svg {
        height: 17px;
        width: 17px;
        fill: #fff;
    }

    &:hover {
        background-color: var(--color-accent-hover);
    }
    
}

.site-header__button {

    @include responsive.max(1024px) {
        display: none;
    }
}

.top-button {
    position: fixed;
    bottom: 4.25rem;
    right: 7.25rem;
    transition: .2s;

    svg {
        background-color: var(--color-ice);
        border: 1px solid var(--color-ice);
        border-radius: 100%;
    }

    @include responsive.max(1024px) {
        right: 2rem;
    }

    &--up {
        
        transform: rotate(180deg);
    }
}

.menu-button {
    display: none;
    grid-column: 3;
    justify-self: end;

    @include responsive.max(1024px) {
        display: inline-block;
    }
}