@use 'layout';
@use '../utilities/responsive';
@use '../components/buttons';

.site-header {
    @include layout.default;
    padding: 0;
    height: 128px;
    background-color: #fff;
    display: grid;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

}

.button {
    @include buttons.default;
    transition: .3s ease;

    svg {
        height: 17px;
        width: 17px;
        fill: #fff;
    }

    &:hover {
        background-color: var(--color-accent-hover);
    }
    
}

.site-header__button {

    @include responsive.max(1024px) {
        display: none;
    }
}

.top-button {
    position: fixed;
    bottom: 4.25rem;
    right: 7.25rem;

    svg {
        background-color: var(--color-ice);
        border: 1px solid var(--color-ice);
        border-radius: 100%;
    }
}

.menu-button {
    display: none;
    grid-column: 3;
    justify-self: end;

    @include responsive.max(1024px) {
        display: inline-block;
    }
}