@use '../utilities/responsive';

.site-header__nav {

    .menu {
            
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 1.5rem;
        }
    
        &__item {
            text-transform: uppercase;
            transition: .2s;
            position: relative;
            
            &--current {
                font-weight: 800;
                border-bottom: 3px solid var(--color-ocean);
                a {
                    color: var(--color-ocean);
                }
            }
    
            &:not(:first-child)::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: var(--color-ice);
                transform: scale(0);
                transition: 0.3s ease;
            }
    
            &:hover::before {
                transform: scale(1);
                height: 2.5px;
            }
        }
        
    
        &__link {
            text-decoration: none;
            color: var(--color-ocean);
            transition: .3s;

            &:hover {
                color: var(--color-accent-hover);
            }
        }
    
        @include responsive.max(1024px) {
            display: none;
        }
    
    }

}