@use '../utilities/responsive';

.site-header__nav {

    .menu {
            
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 1.5rem;
        }
    
        &__item {
            text-transform: uppercase;
            transition: .2s;
            position: relative;
            
            &--current {
                font-weight: 800;
                border-bottom: 3px solid var(--color-ocean);
            }
        }
        
    
        &__link {
            text-decoration: none;
            color: var(--color-ocean);
            transition: color .3s;

            &:hover {
                color: var(--color-accent-hover);
            }
        }
    
        @include responsive.max(1024px) {
            display: none;
        }
    
    }

}